<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Checkout</ion-title>
    </ion-toolbar>
    <ion-toolbar id="charge-toolbar">
        <ion-button expand="block" fill="solid" (click)="openchargeModal()">CHARGE transaction subtotal
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-segment [(ngModel)]="viewMode" value="basket">
        <ion-segment-button value="numpad">
            <ion-icon name="keypad-outline"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="basket">
            <ion-icon name="basket-outline"></ion-icon>
        </ion-segment-button>
    </ion-segment>

    <div class="row" *ngIf="viewMode === 'basket' then basket else numpad"></div>

    <ng-template #basket>
        <ion-list>
            <ion-item-sliding *ngFor="let item of Items">
                <ion-item (click)="itemDescription(item.id)">
                    <slot name="start">
                        <ion-avatar>
                            {{ item.name | slice:0:2 }}
                        </ion-avatar>
                    </slot>
                    <ion-label class="itemsep">
                        <ion-label> {{ item.name }} </ion-label>
                    </ion-label>
                    <ion-note> {{ item.price | currency }} </ion-note>
                </ion-item>
            </ion-item-sliding>
        </ion-list>
    </ng-template>

    <ng-template #numpad>
        <ion-grid id="keypad-grid">

            <ion-row class="keypad-row">

                <ion-col class="input-col" size="12">
                    <ion-label>$0.00</ion-label>
                </ion-col>

                <ion-col class="button-col" size="4">
                    <ion-button size="large" expand="full" fill="solid">1
                        <ion-ripple-effect></ion-ripple-effect>
                    </ion-button>
                </ion-col>
                <ion-col class="button-col" size="4">
                    <ion-button size="large" expand="full" fill="solid">2
                        <ion-ripple-effect></ion-ripple-effect>
                    </ion-button>
                </ion-col>
                <ion-col class="button-col" size="4">
                    <ion-button size="large" expand="full" fill="solid">3
                        <ion-ripple-effect></ion-ripple-effect>
                    </ion-button>
                </ion-col>

                <ion-col class="button-col" size="4">
                    <ion-button size="large" expand="full" fill="solid">4
                        <ion-ripple-effect></ion-ripple-effect>
                    </ion-button>
                </ion-col>
                <ion-col class="button-col" size="4">
                    <ion-button size="large" expand="full" fill="solid">5
                        <ion-ripple-effect></ion-ripple-effect>
                    </ion-button>
                </ion-col>
                <ion-col class="button-col" size="4">
                    <ion-button size="large" expand="full" fill="solid">6
                        <ion-ripple-effect></ion-ripple-effect>
                    </ion-button>
                </ion-col>

                <ion-col class="button-col" size="4">
                    <ion-button size="large" expand="full" fill="solid">7
                        <ion-ripple-effect></ion-ripple-effect>
                    </ion-button>
                </ion-col>
                <ion-col class="button-col" size="4">
                    <ion-button size="large" expand="full" fill="solid">8
                        <ion-ripple-effect></ion-ripple-effect>
                    </ion-button>
                </ion-col>
                <ion-col class="button-col" size="4">
                    <ion-button size="large" expand="full" fill="solid">9
                        <ion-ripple-effect></ion-ripple-effect>
                    </ion-button>
                </ion-col>


                <ion-col class="button-col" size="4">
                    <ion-button size="large" expand="full" fill="solid">C
                        <ion-ripple-effect></ion-ripple-effect>
                    </ion-button>
                </ion-col>
                <ion-col class="button-col" size="4">
                    <ion-button size="large" expand="full" fill="solid">0
                        <ion-ripple-effect></ion-ripple-effect>
                    </ion-button>
                </ion-col>
                <ion-col class="button-col" size="4">
                    <ion-button size="large" expand="full" fill="solid">+
                        <ion-ripple-effect></ion-ripple-effect>
                    </ion-button>
                </ion-col>

            </ion-row>
        </ion-grid>
    </ng-template>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button expand="block" fill="outline" (click)="clearItems()">CLEAR ITEMS</ion-button>
    </ion-toolbar>
</ion-footer>