ion-header {
    display: block;
    position: relative;
    order: -1;
    width: 100%;
    z-index: 10;
}

.charge-toolbar {
    height: 60px;
}

ion-button {
    height: 50px;
    font-size: 18px;
}

ion-segment {
    height: 10%;
}

.keypadgrid {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 90%;
    margin-inline-start: auto;
    margin-inline-end: auto;
    .button-col {
        margin: 0;
        padding: 0;
        height: 100%;
        font-size: 30px;
    }
}

.keypad-row {
    margin: 0;
    padding: 0;
    height: 100%;
}

.input-col {
    margin: 0;
    padding: 0;
    height: 15%;
    text-align: right;
    font-size: 40px;
}

ion-note {
    font-size: 11pt
}

ion-avatar {
    background-color: royalblue;
    color: white;
    border-radius: 0%;
    text-align: center;
    line-height: 210%;
}