ion-note {
    font-size: 11pt
}

.itemsep {
    margin-left: 15px;
}

ion-avatar {
    background-color: royalblue;
    color: white;
    border-radius: 0%;
    text-align: center;
    align-items: center;
    height: 36px;
    width: 36px;
    line-height: 210%;
}