<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Items</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-sliding *ngFor="let item of Items">
            <div>
                <ion-item-options side="start">
                    <ion-item-option (click)="openModalEdit(item.id)">
                        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                    </ion-item-option>
                    <ion-item-option (click)="changeStatus(item)" color="medium">
                        <ion-icon slot="icon-only" *ngIf="item.status === 'available'" name="eye-off-outline">
                        </ion-icon>
                        <ion-icon slot="icon-only" *ngIf="item.status === 'hidden'" name="eye-outline"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
                <ion-item (click)="itemDescription(item.id)">
                    <ion-avatar slot="start">
                        {{ item.name | slice:0:2 }}
                    </ion-avatar>
                    <ion-label>
                        <ion-label> {{ item.name }} </ion-label>
                        <ion-note> {{ item.status }} </ion-note>
                    </ion-label>
                    <ion-note> {{ item.price | currency }} </ion-note>
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option color="danger" (click)="deleteItem(item.id)">
                        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                    </ion-item-option>
                </ion-item-options>
            </div>
        </ion-item-sliding>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon (click)="openModal()" name="duplicate"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>