<ion-header>
    <ion-toolbar>
        <ion-title>Tips</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-label>Add a tip?</ion-label>
    <ion-label>$Subtotal</ion-label>

    <ion-button expand="block" fill="solid">20% (Calculated Tip)</ion-button>
    <ion-button expand="block" fill="solid">15% (Calculated Tip)</ion-button>
    <ion-button expand="block" fill="solid">10% (Calculated Tip)</ion-button>
    <ion-button expand="block" fill="solid">CUSTOM TIP</ion-button>
    <ion-button expand="block" fill="solid">NO TIP</ion-button>

</ion-content>