<ion-header>
    <ion-toolbar>
        <ion-title>Sale {{totalValue | currency}}</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="menu/checkout">Back</ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item *ngFor="let item of items">
            <slot name="start">
                <ion-avatar>
                    {{ item[1].item.name | slice:0:2 }}
                </ion-avatar>
            </slot>
            <ion-label class="itemsep">
                <h2>{{ item[1].item.name }} (x{{ item[1].quantity }})</h2>
            </ion-label>
            <ion-note slot="end">{{ item[1].price | currency }}</ion-note>
        </ion-item>
        <ion-item>
            <ion-label>Subtotal</ion-label>
            <ion-note slot="end">{{ subtotalValue | currency }}</ion-note>
        </ion-item>
        <ion-item>
            <ion-label>Tax (9.75%)</ion-label>
            <ion-note slot="end">{{ taxValue | currency }}</ion-note>
        </ion-item>
        <ion-item>
            <ion-label><b>Total</b></ion-label>
            <ion-note slot="end">{{ totalValue | currency }}</ion-note>
        </ion-item>
    </ion-list>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-button expand="block" fill="outline" (click)="confirmPayment()">CONFIRM AND PAY</ion-button>
    </ion-toolbar>
</ion-footer>