<ion-header>
    <ion-toolbar>
        <ion-title>itemEdit</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="editnoteForm">
        <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input formControlName="descripcion"></ion-input>
            <ion-label position="floating">Price</ion-label>
            <ion-input formControlName="descripcion"></ion-input>
        </ion-item>
    </form>
    <ion-button (click)="updateNote()" expand="block">Update</ion-button>
    <ion-button (click)="closeModal()" expand="block" fill="outline">Cancel</ion-button>
</ion-content>