<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Transactions</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngFor="let transaction of transactions">
        <ion-list-header lines='full'>
            <ion-label><b>{{ date | date:'fullDate' }}</b></ion-label>
        </ion-list-header>
        <ion-item (click)="goToDesc(transaction.id)">
            <ion-label>
                <h2>$65.25</h2>
                <p>2 items</p>
            </ion-label>
            <ion-note item-right>
                {{ time }}
            </ion-note>
            <ion-note slot="end" class="arrow-icon">
                <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-note>
        </ion-item>
    </ion-list>
</ion-content>