<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>transactions</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngFor="let transaction of transactions">
        <ion-list-header lines='full'>
            <ion-label>{{today | date: 'dd/MM/yyyy'}}</ion-label>
        </ion-list-header>
        <ion-item (click)="openModal(transaction.id)">
            <ion-label>
                <h2>{{transaction.total}}</h2>
                <p>{{transaction.totalQuantity}} items</p>
            </ion-label>
            <ion-note slot="end">{{ today | date: 'HH:mm'}}</ion-note>
        </ion-item>
    </ion-list>

</ion-content>